.restaurants {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-top: 2em;
}

.restaurants__info {
  background-color: white;
  padding: 3em 2em;
  box-shadow: 2px 4px 3px #00000021;
}

.restaurants__subtitle {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.restaurants__paragraph {
  margin-bottom: 2em;
}

.restaurants__image_container {
  transform: translateY(2em);
}

@media (max-width: 930px) {
  .restaurants { grid-template-columns: 1fr; }

  .restaurants__paragraph { width: 90%; }
}

@media (max-width: 430px) {
  .restaurants__subtitle { font-size: 2.3em; }
}