:root {
  --bg-color: #F6F6F6;
  --primary-color: #ff9671;
  --main-color: #fa7000;
  --subtitle-color: #222222;
  --paragraph-color: #3a3a3a;
  --hover-main-color: #e66903;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  overflow-x: hidden;
  font-family: var(--font-onest);
}

.container {
  max-width: 1380px;
  width: 85%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  padding: 0.5em 1em;
}

.btn-global {
  font-family: var(--font-permanent-maker);
  background-color: var(--main-color);
  color: white;
  font-size: 1.1em;
  padding: 0.5em 1em;
  transition: 0.2s;
}

.btn-global:hover { background-color: var(--hover-main-color); }

h2 {
  font-family: var(--font-permanent-maker);
  color: var(--subtitle-color);
}

p {
  color: var(--paragraph-color);
}

.children {
  min-height: 100vh;
  padding-bottom: 10em;
}

@media (max-width: 910px) {
  .container {
    width: 90%;
  }
}