:root {
  --bg-color: #F6F6F6;
  --primary-color: #ff9671;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-onest);
}

body {
  background-color: var(--bg-color);
  overflow-x: hidden;
}

.container {
  max-width: 1380px;
  width: 85%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.children {
  min-height: 100vh;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}