.autoslider {
  overflow: hidden;
  width: 600px;
  max-width: 100%;
}

.autoslider__content {
  display: flex;
  align-items: center;
  transition: 1s;
}

.autoslider__image {
  width: 600px;
  max-width: 100%;
}

@media (max-width: 940px) {
  .autoslider { margin: 0 auto; }
}