.header {
  background-color: #fff;
  height: 60px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  font-family: var(--font-permanent-maker);
}

.header__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  gap: 0.8em;
}

.nav__links {
  color: #333;
  text-shadow: 2px 1px 10px #22222285;
  padding: 0.4em 0.8em;
  transition: all 0.1s ease-in;
}

.nav__links:hover {
  color: var(--primary-color);
  outline: 1px solid var(--primary-color);
}